<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         colors="true"
         verbose="true"
         bootstrap="vendor/autoload.php">

    <php>
        <ini name="error_reporting" value="-1" />
    </php>

    <testsuites>
        <testsuite name="PhpEnum Test Suite">
            <directory suffix=".php">./tests/PhpEnumTest</directory>
        </testsuite>
    </testsuites>

</phpunit>
